<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
 -->

<p id="notice"><%= notice %></p>
<div class="spacing-top"></div>


<div class="container">
	<%= render 'rowevents' %>
</div>
<br>

