

<h2>Update Event</h2>

  <%= form_for(:events, :url => {:action => 'update', :id => @event}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

   <% end %>


<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>
