# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: da3a891504cae0afa6b03a5b66e462e322d097f9e7e2f5ad92c886f68ea98e03c476069926335b1fc09f5f33c4c4a81763b0eec97b62665988c9c22f577eeb83

test:
  secret_key_base: df24b8696a48f76b49852f06fcda50aa93354ca0a14fa03c938ebc0316ac47ea2683d168d73506218397a76f9a71cca1b58c6ac9c9dbc1130ec89569217741ca

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
