<h1 style="text-align:center">Search For Event or Search By Location</h1>

<%= form_for(@event_search, :url=>{:controller =>"searches", :action=>"search"}) do |f| %>
<%= f.text_field :title, :placeholder =>"Event Name",:class=>"event-name-search" %>
<%= f.text_field :venue, :placeholder =>"Venue", :class=>"event-venue-search" %>


<%= f.submit 'Search',:class=>"submit_btn btn btn-mod btn-medium btn-round small" %>
</select>
<%end%>