
 .call-to-action-sale{
 	width: 50%;
 	height: 50px;
 	background:white;
 	border-radius: 0px;
 	border: none;
 	float: left;
 	line-height: 50px;
 	transition: .2s all linear;
 	text-transform: uppercase;
 }
 .post-prev-text{
 	opacity: 0;
 	position: relative;
 	top: -80px;
 	transition:.2s all linear;
 }
 
 .item-event:hover .post-prev-text{
 	opacity: 1;
 }
 .call-to-action-sale.sell:hover{
 	background: #E9D460;
 	color:white;
 }
 .call-to-action-sale.buy:hover{
 	background: #87D37C;
 	color:white;
 }