<style>
	*{
		font-size: 22px;
	}
	.bordered-table, .bordered-table th, .bordered-table td{
		border: 1px solid black; 
		border-collapse: collapse;
		padding: 5px;
	}
</style>
<table style="width:100%;">
	<tr>Ticket</tr>
	<tr>
		<%=@transaction.seller_id%>
	</tr>
</table>